@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Roboto&display=swap');

/*colores: #D95276 #585C73 #F2F0D8 #F2CD88 #F1E1AE*/

*{
	font-family: 'Roboto', sans-serif;
	padding: 0px;
	margin: 0px;
}

a{
	text-decoration: none;
}

/*HEADER*/
header{
	width: 100%;
	position: sticky;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#logo{
	width: 75%;
}

#logo:hover{
	transform: scale(1.1,1.1);
}

.bg-color{
	background-color: #F2CD88;
}

.navbar-toggler{
	position: absolute;
   right: 15px;
}

header nav ul li a{
	color: black;
	text-decoration: none;
	font-size: 18px;
	font-family: 'Almendra SC', serif;
}

header nav ul li a:hover{
	transform: translate(10px, 0);
	font-weight: bold;
}

/*MAIN*/
main{
	background-color: #F2F0D8;
	padding-bottom: 10px;
}

h1{
	padding: 10px;
	text-align: center;
}

/*FOOTER*/
footer{
	width: 100%;
	background-color: #585C73;
	position: sticky;
	bottom: 0;
	padding: 5px 0;
}

footer p{	
	width: 100%;
	text-align: center;
	color: white;
	font-size: 12px;
}

footer div{
	width: 100%;
	margin-top: 5px;
	text-align: center;
}

.logosRedes{
	height: 24px;
	margin: 0 5px;
}

/*Index*/
.index-contenedor{
	display: flex;
	flex-direction: column;
	padding: 40px 0;
}

.fotos{
	width: 90%;
	margin: 10px auto;
}

.parrafos{
	width: 90%;
	margin: 10px auto;
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
}

/*Personajes*/
.personajes{
	display: flex;
	flex-direction: column;
}

.personajes-contenedor{
	margin: 5px 20px;
}

.personajes-titulo{
	text-align: center;
	transition: all 1s;
}

.personajes-titulo:hover{
	transform: scale(1.5,1.5) translate(0, -10px);
}

.personajes-foto{
	width: 100%;

}

/*Diccionario*/
.diccionario-titulo{
	width: 90%;
	margin: 0 auto;
	font-size: 1.15rem;
}

.diccionario-contenedor{
	width: 85%;
	margin: 0 auto;
	padding: 2px 5px;
}

.diccionario-palabra{
	margin: 0;
	padding: 0;
	font-size: 1rem;
	animation-name: palabra-efecto;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
	animation-delay: 0;
}

.list-group{
	margin-bottom: 10px;
}

.list-group-item{
	background-color: #F2F0D8;
	border: 0;
	padding: 5px 10px;
}

.list-group-item.active{
	background-color: #F2CD88;
	color: black;
	border-color: black;
}

@keyframes palabra-efecto{
   0% {color:#F2F0D8;}
   100%{color: black;}
}

/*Mapa*/
#liveToastBtn{
	width: 100%;
	padding: 0 5%;
	margin-bottom: 20px;
}

#liveToastBtn:hover{
	cursor: pointer;
}

.top-xx{
	top: 45vh;
}

.left-xx{
	left: 0;
}

/*Contacto*/
#contacto-contenedor{
	padding: 10px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(11, 40px);
	grid-template-areas: 
	"name-label name"
	"correo-label correo"
	"cel-label cel"
	"pedido pedido"
	"pedido pedido"
	"pedido pedido"
	"comentario comentario"
	"mensaje mensaje"
	"mensaje mensaje"
	"mensaje mensaje"
	"cancelar enviar";
	grid-row-gap: 10px;
}	

#name-label{
	grid-area: name-label;
	align-self: center;
}

#name{
	grid-area: name;
}

#correo-label{
	grid-area: correo-label;
	align-self: center;
}

#correo{
	grid-area: correo;
}

#cel-label{
	grid-area: cel-label;
	align-self: center;
}

#pedido{
	grid-area: pedido;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: repeat(4, 20px);
	grid-template-areas: 
	"libro-label libro"
	"local-label local"
	"casa-label casa"
	"provincia-label provincia";
	grid-row-gap: 10px;
	align-items: center;
}

#comentario{
	grid-area: comentario;
	align-self: end;
}

#mensaje{
	grid-area: mensaje;
}

#cancelar{
	grid-area: cancelar;
}

#enviar{
	grid-area: enviar;
}

#libro-label{
	grid-area: libro-label;
}

#libro{
	grid-area: libro;
	justify-self: start;
}

#local-label{
	grid-area: local-label;
}

#local{
	grid-area: local;
	justify-self: start;
}

#casa-label{
	grid-area: casa-label;
}

#casa{
	grid-area: casa;
	justify-self: start;
}

#provincia-label{
	grid-area: provincia-label;
}

#provincia{
	grid-area: provincia;
	justify-self: start;
}

/* media queries */ 
@media (min-width: 468px){
	/*HEADER 468*/
	#logo{
		width: 70%;
	}

	/*Personajes 468*/
	.personajes-contenedor{
		margin: 10px 40px;
	}

	/*Mapa 468*/
	.left-xx{
		left: 10%;
	}

	/*Contacto 468*/
	#contacto-contenedor{
		padding: 40px;
	}
}

@media (min-width: 600px){
	/*HEADER 600*/
	#logo{
		width: 60%;
	}

	/*Index 600*/
	.fotos{
		width: 80%;
	}

	.parrafos{
		width: 80%;
	}

	/*Personajes 600*/
	.personajes-contenedor{
		margin: 10px 60px;
	}

	/*Mapa 600*/
	.left-xx{
		left: 15%;
	}

	/*Contacto 600*/
	#contacto-contenedor{
		padding: 25px 30px;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(7, 40px);
		grid-template-areas: 
		"name-label name comentario"
		"correo-label correo mensaje"
		"cel-label cel mensaje"
		"pedido pedido mensaje"
		"pedido pedido mensaje"
		"pedido pedido mensaje"
		"cancelar enviar mensaje";
		grid-column-gap: 10px;
	}

	#comentario{
		justify-self: center;
		align-self: center;
	}

}

@media (min-width: 768px){
	/*HEADER 768*/
	#logo{
		width: 50%;
	}

	#navbarSupportedContent{
		position: absolute;
		bottom: 10px;
		right: 20px;
	}

	header nav ul li a:hover{
		transform: translate(0, -10px);
	}


	/*Index 768*/
	.index-contenedor{
		flex-direction: row;
		align-items: center;
		padding: 5px 30px;
	}

	.index-contenedor-2{
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		padding: 5px 30px;
	}

	.fotos{
		width: 30%;
		margin: 10px;
	}

	.parrafos{
		margin: 10px;
	}

	/*Personajes 768*/
	.personajes{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly; 
	}
	
	.personajes-contenedor{
		width: 40%;
		margin: 20px 0;
	}

	/*Diccionario 768*/
	.diccionario-titulo{
		width: 40%;
		margin: 0 1.5% 0 3.5%;
		font-size: 1.05rem;
		padding: 0;
	}

	.diccionario-contenedor{
		width: 50%;
		margin: 0 3.5% 0 1.5%;
		padding: 0;
	}

	/*Mapa 768*/
	.left-xx{
		left: 25%;
	}

	/*Contacto 768*/
	#contacto-contenedor{
		padding: 25px 50px;
		grid-column-gap: 30px;
	}

}

@media (min-width: 1024px){
	/*HEADER 1024*/
	#logo{
		width: 30%;
	}

	/*Personajes 1024*/
	.personajes-contenedor{
		width: 30%;
		margin: 20px 0;
	}

	/*Mapa 1024*/
	.left-xx{
		left: 45%;
	}

	/*Contacto 1024*/
	#contacto-contenedor{
		padding: 25px 50px;
		grid-template-columns: repeat(4, 1fr) 4fr;
		grid-template-rows: repeat(4, 40px);
		grid-template-areas: 
		"name-label name pedido pedido comentario"
		"correo-label correo pedido pedido mensaje"
		"cel-label cel pedido pedido mensaje"
		"cancelar cancelar enviar enviar mensaje";
		grid-column-gap: 20px;
		grid-row-gap: 20px;
	}

	#cancelar{
		justify-self: end;
		width: 50%;
	}

	#enviar{
		justify-self: start;
		width: 50%;
	}
}
