@import url("https://fonts.googleapis.com/css2?family=Almendra+SC&family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  background-color: #F2F0D8;
  min-height: 76.4vh;
}

h1 {
  padding: 10px;
  text-align: center;
}

header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
header nav ul li a {
  color: black;
  font-size: 18px;
  font-family: "Almendra SC", serif;
}
header nav ul li ahover {
  transform: translate(10px, 0);
  font-weight: bold;
}

#logo {
  width: 75%;
}
#logohover {
  transform: scale(1.1, 1.1);
}

.bg-color {
  background-color: #F2CD88;
}

.navbar-toggler {
  position: absolute;
  right: 15px;
}

@media (min-width: 468px) {
  #logo {
    width: 70%;
  }
}
@media (min-width: 600px) {
  #logo {
    width: 60%;
  }
}
@media (min-width: 768px) {
  #logo {
    width: 50%;
  }
  #navbarSupportedContent {
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  header nav ul li ahover {
    transform: translate(0, -10px);
  }
}
@media (min-width: 1024px) {
  #logo {
    width: 30%;
  }
}
footer {
  width: 100%;
  background-color: #585C73;
  padding: 5px 0;
}
footer p {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 12px;
  margin-bottom: 5px;
}
footer div {
  width: 100%;
  text-align: center;
}

.logosRedes {
  height: 24px;
  margin: 0 5px;
}

.index-contenedor {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
}

.fotos {
  width: 90%;
  margin: 10px auto;
}

.parrafos {
  width: 90%;
  margin: 10px auto;
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
}

#inicialfirst-letter {
  font-size: 2rem;
  font-family: "Almendra SC", serif;
}

@media (min-width: 600px) {
  .fotos {
    width: 80%;
  }
  .parrafos {
    width: 80%;
  }
}
@media (min-width: 768px) {
  .index-contenedor {
    flex-direction: row;
    align-items: center;
    padding: 5px 30px;
  }
  .index-contenedor-2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 5px 30px;
  }
  .fotos {
    width: 30%;
    margin: 10px;
  }
  .parrafos {
    margin: 10px;
  }
}
.personajes {
  display: flex;
  flex-direction: column;
}

.personajes-contenedor {
  margin: 5px 20px;
}

.personajes-titulo {
  text-align: center;
  transition: all 1s;
}
.personajes-titulohover {
  transform: scale(1.5, 1.5) translate(0, -10px);
}

.personajes-foto {
  width: 100%;
}

@media (min-width: 468px) {
  .personajes-contenedor {
    margin: 10px 40px;
  }
}
@media (min-width: 600px) {
  .personajes-contenedor {
    margin: 10px 60px;
  }
}
@media (min-width: 768px) {
  .personajes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .personajes-contenedor {
    width: 40%;
    margin: 20px 0;
  }
}
@media (min-width: 1024px) {
  .personajes-contenedor {
    width: 30%;
    margin: 20px 0;
  }
}
.row {
  margin: 0;
}

.diccionario-titulo {
  width: 90%;
  margin: 0 auto;
  font-size: 1.15rem;
}

.diccionario-contenedor {
  width: 85%;
  margin: 0 auto;
  padding: 2px 5px;
}

.diccionario-palabra {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  -webkit-animation-name: palabra-efecto;
          animation-name: palabra-efecto;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.list-group {
  margin-bottom: 10px;
}

.list-group-item {
  background-color: #F1E1AE;
  border: 0;
  padding: 5px 10px;
}

.list-group-item.active {
  background-color: #F2CD88;
  color: black;
  border-color: black;
}

@-webkit-keyframes palabra-efecto {
  0% {
    color: #F1E1AE;
  }
  100% {
    color: black;
  }
}

@keyframes palabra-efecto {
  0% {
    color: #F1E1AE;
  }
  100% {
    color: black;
  }
}
@media (min-width: 768px) {
  .diccionario-titulo {
    width: 40%;
    margin: 0 1.5% 0 3.5%;
    font-size: 1.05rem;
    padding: 0;
  }
  .diccionario-contenedor {
    width: 50%;
    margin: 0 3.5% 0 1.5%;
    padding: 0;
  }
}
#mapa-contenedor {
  width: 95vw;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(1168, 1fr);
  grid-template-rows: repeat(1600, 1fr);
  padding: 0 5vw;
  margin-bottom: 20px;
}
#mapa-contenedorhover {
  cursor: pointer;
}

.mapas {
  width: 100%;
}

#corsi {
  grid-column-start: 1;
  grid-column-end: 740;
  grid-row-start: 1;
  grid-row-end: 401;
}

#zarlos {
  grid-column-start: 740;
  grid-column-end: 1168;
  grid-row-start: 1;
  grid-row-end: 470;
}

#tirobasia {
  grid-column-start: 1;
  grid-column-end: 481;
  grid-row-start: 400;
  grid-row-end: 801;
}

#farsing-1 {
  grid-column-start: 481;
  grid-column-end: 740;
  grid-row-start: 400;
  grid-row-end: 470;
}

#farsing-2 {
  grid-column-start: 481;
  grid-column-end: 1168;
  grid-row-start: 470;
  grid-row-end: 751;
}

#ramasia-1 {
  grid-column-start: 481;
  grid-column-end: 1168;
  grid-row-start: 750;
  grid-row-end: 800;
}

#ramasia-2 {
  grid-column-start: 619;
  grid-column-end: 1168;
  grid-row-start: 800;
  grid-row-end: 960;
}

#ramasia-3 {
  grid-column-start: 730;
  grid-column-end: 1168;
  grid-row-start: 960;
  grid-row-end: 1060;
}

#ramasia-4 {
  grid-column-start: 797;
  grid-column-end: 1168;
  grid-row-start: 1059;
  grid-row-end: 1161;
}

#climania-1 {
  grid-column-start: 1;
  grid-column-end: 460;
  grid-row-start: 800;
  grid-row-end: 1150;
}

#climania-2 {
  grid-column-start: 460;
  grid-column-end: 621;
  grid-row-start: 800;
  grid-row-end: 961;
}

#origamia-1 {
  grid-column-start: 1;
  grid-column-end: 471;
  grid-row-start: 1149;
  grid-row-end: 1600;
}

#origamia-2 {
  grid-column-start: 469;
  grid-column-end: 551;
  grid-row-start: 1257;
  grid-row-end: 1600;
}

#chiluana-1 {
  grid-column-start: 459;
  grid-column-end: 580;
  grid-row-start: 959;
  grid-row-end: 1150;
}

#chiluana-2 {
  grid-column-start: 579;
  grid-column-end: 691;
  grid-row-start: 960;
  grid-row-end: 1211;
}

#chiluana-3 {
  grid-column-start: 689;
  grid-column-end: 731;
  grid-row-start: 960;
  grid-row-end: 1111;
}

#chiluana-4 {
  grid-column-start: 470;
  grid-column-end: 580;
  grid-row-start: 1150;
  grid-row-end: 1260;
}

#girasolandia-1 {
  grid-column-start: 597;
  grid-column-end: 1168;
  grid-row-start: 1160;
  grid-row-end: 1600;
}

#girasolandia-2 {
  grid-column-start: 579;
  grid-column-end: 598;
  grid-row-start: 1210;
  grid-row-end: 1261;
}

#girasolandia-3 {
  grid-column-start: 547;
  grid-column-end: 631;
  grid-row-start: 1257;
  grid-row-end: 1600;
}

#girasolandia-4 {
  grid-column-start: 688;
  grid-column-end: 798;
  grid-row-start: 1059;
  grid-row-end: 1161;
}

.top-xx {
  top: 45vh;
}

.left-xx {
  left: 0;
}

@media (min-width: 468px) {
  .left-xx {
    left: 10%;
  }
}
@media (min-width: 600px) {
  .left-xx {
    left: 15%;
  }
}
@media (min-width: 768px) {
  .left-xx {
    left: 25%;
  }
}
@media (min-width: 1024px) {
  .left-xx {
    left: 45%;
  }
}
#contacto-contenedor {
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 40px) 30px repeat(4, 20px) repeat(5, 40px);
  grid-template-areas: "name-label name" "correo-label correo" "cel-label cel" "pedido pedido" "pedido pedido" "pedido pedido" "pedido pedido" "pedido pedido" "comentario comentario" "mensaje mensaje" "mensaje mensaje" "mensaje mensaje" "cancelar enviar";
  grid-row-gap: 10px;
}

#name-label {
  grid-area: name-label;
  align-self: center;
}

#name {
  grid-area: name;
}

#correo-label {
  grid-area: correo-label;
  align-self: center;
}

#correo {
  grid-area: correo;
}

#cel-label {
  grid-area: cel-label;
  align-self: center;
}

#cel {
  grid-area: cel;
}

#pedido {
  grid-area: pedido;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 30px repeat(4, 20px);
  grid-template-areas: "legend legend" "libro-label libro" "local-label local" "casa-label casa" "provincia-label provincia";
  grid-row-gap: 10px;
  align-items: center;
}

#legend {
  grid-area: legend;
  align-self: start;
}

#comentario {
  grid-area: comentario;
  align-self: end;
  margin-bottom: 0;
}

#mensaje {
  grid-area: mensaje;
}

#cancelar {
  grid-area: cancelar;
  width: 80%;
  justify-self: center;
}

#enviar {
  grid-area: enviar;
  width: 80%;
  justify-self: center;
}

#libro-label {
  grid-area: libro-label;
}

#libro {
  grid-area: libro;
  justify-self: start;
}

#local-label {
  grid-area: local-label;
}

#local {
  grid-area: local;
  justify-self: start;
}

#casa-label {
  grid-area: casa-label;
}

#casa {
  grid-area: casa;
  justify-self: start;
}

#provincia-label {
  grid-area: provincia-label;
}

#provincia {
  grid-area: provincia;
  justify-self: start;
  width: 100%;
}

#contacto-foto {
  grid-area: foto;
  display: none;
}

@media (min-width: 468px) {
  #contacto-contenedor {
    padding: 40px;
  }
}
@media (min-width: 600px) {
  #contacto-contenedor {
    padding: 25px 30px;
    grid-template-columns: repeat(2, 30%) repeat(2, 20%);
    grid-template-areas: "name-label name foto foto" "correo-label correo foto foto" "cel-label cel foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "comentario comentario foto foto" "mensaje mensaje mensaje mensaje" "mensaje mensaje mensaje mensaje" "mensaje mensaje mensaje mensaje" "cancelar cancelar enviar enviar";
  }
  #contacto-foto {
    height: 300px;
    justify-self: center;
    display: inline;
  }
  #comentario {
    justify-self: center;
    align-self: end;
  }
  #cancelar {
    width: 40%;
  }
  #enviar {
    width: 60%;
  }
}
@media (min-width: 768px) {
  #contacto-contenedor {
    grid-template-columns: repeat(2, 25%) repeat(2, 19%);
    grid-template-rows: repeat(3, 40px) 30px repeat(4, 20px) repeat(4, 40px);
    grid-template-areas: "name-label name foto foto" "correo-label correo foto foto" "cel-label cel foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "comentario comentario foto foto" "mensaje mensaje foto foto" "mensaje mensaje foto foto" "cancelar enviar foto foto";
    grid-column-gap: 4%;
  }
  #contacto-foto {
    height: 490px;
  }
  #cancelar {
    width: 50%;
  }
  #enviar {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  #contacto-contenedor {
    grid-template-rows: repeat(3, 40px) 30px repeat(3, 20px) repeat(4, 40px);
    grid-template-areas: "name-label name foto foto" "correo-label correo foto foto" "cel-label cel foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "pedido pedido foto foto" "comentario comentario foto foto" "mensaje mensaje foto foto" "mensaje mensaje foto foto" "cancelar enviar foto foto";
    padding: 20px 50px;
  }
  #pedido {
    grid-template-columns: 35% 5% 21% 25%;
    grid-template-rows: 30px repeat(3, 20px);
    grid-template-areas: "legend legend legend legend" "libro-label libro libro libro" "local-label local local local" "casa-label casa provincia-label provincia";
    -moz-column-gap: 3%;
         column-gap: 3%;
  }
  #provincia-label {
    justify-self: end;
  }
  #contacto-foto {
    height: 470px;
  }
}/*# sourceMappingURL=style.css.map */