*{
	font-family: $mainFont;
	padding: 0;
	margin: 0;
}

a{
	text-decoration: none;
}

main{
	background-color: $colorLightYellow;
	min-height: 76.4vh;
}

h1{
	padding: 10px;
	text-align: center;
	font-family: $secondaryFont;
}

/*Header*/
header{
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
    nav{
        ul{
            li{
                a{
                    color: $black;
                    font-family: $secondaryFont;
                    &:hover{
                        transform: translate(10px, 0);
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

#logo{
	width: 75%;
    &:hover{
        transform: scale(1.1,1.1);
    }
}

.bg-color{
	background-color: $colorDarkYellow;
}

.navbar-toggler{
	position: absolute;
    right: 15px;
	top: 30px;
}

.nav-link{
	font-size: map-get($sizeLetra, header);
}

/*Footer*/
footer{
	width: 100%;
	background-color: $colorDark;
	padding: 5px 0;
	p{	
		width: 100%;
		text-align: center;
		color: $white;
		font-size: map-get($sizeLetra, footer);
		margin-bottom: 5px;
	}
	div{
		width: 100%;
		text-align: center;
	}
}

.logosRedes{
	height: 24px;
	margin: 0 5px;
	&:hover{
		cursor: pointer;
	}
}

/*Media Queries Header y Footer*/
@media (min-width: 468px){
	#logo{
		width: 70%;
	}
}

@media (min-width: 600px){
	#logo{
		width: 60%;
	}
}

@media (min-width: 768px){
	#logo{
		width: 50%;
	}

	#navbarSupportedContent{
		position: absolute;
		bottom: 10px;
		right: 20px;
	}

	header{
        nav{
            ul{
                li{
                    a{
                        &:hover{
                            transform: translate(0, -10px);
                        }
                    }
                }
            }
        }   
	}
}

@media (min-width: 1024px){
	#logo{
		width: 30%;
	}
}