#contacto-contenedor{
	padding: 10px 20px;
	display: grid;
    grid-template-columns: repeat(2, 50%);
	grid-template-rows: repeat(3, 40px) 30px repeat(4, 20px) repeat(5, 40px);
	grid-template-areas: 
	"nombre-label nombre"
	"correo-label correo"
	"cel-label cel"
	"pedido pedido"
	"pedido pedido"
	"pedido pedido"
	"pedido pedido"
	"pedido pedido"
	"comentario comentario"
	"mensaje mensaje"
	"mensaje mensaje"
	"mensaje mensaje"
	"cancelar enviar";
	grid-row-gap: 10px;
}	

#nombre-label{
	@include grid(nombre-label);
}

#nombre{
	@include grid(nombre);
}

#correo-label{
	@include grid(correo-label);
}

#correo{
	@include grid(correo);
}

#cel-label{
	@include grid(cel-label, center);
}

#cel{
	@include grid(cel);
}

#pedido{
	@include grid(pedido);
	display: grid;
	grid-template-columns: 60% 40%;
	grid-template-rows: 30px repeat(4, 20px);
	grid-template-areas:
	"legend legend"
	"libro-label libro"
	"retiro-label retiro"
	"casa-label casa"
	"provincia-label provincia";
	grid-row-gap: 10px;
	align-items: center;
}

#legend{
	@include grid(legend, start);
}

#comentario{
	@include grid(comentario, end);
	margin-bottom: 0;
}

#mensaje{
	@include grid(mensaje);
}

#cancelar{
	@include grid(cancelar, center, 80%);
}

#enviar{
	@include grid(enviar, center, 80%);
}

#libro-label{
	@include grid(libro-label);
}

#libro{
	@include grid(libro, start);
}

#retiro-label{
	@include grid(retiro-label);
}

#retiro{
	@include grid(retiro, start);
}

#casa-label{
	@include grid(casa-label);
}

#casa{
	@include grid(casa, start);
}

#provincia-label{
	@include grid(provincia-label);
}

#provincia{
	@include grid(provincia, start, 100%);
}

#contacto-foto{
	@include grid(foto);
	display: none;
}

@media (min-width: 468px){
	#contacto-contenedor{
		padding: 40px;
	}
}

@media (min-width: 600px){
	#contacto-contenedor{
		padding: 25px 30px;
		grid-template-columns: repeat(2, 30%) repeat(2, 20%);
		grid-template-areas: 
		"nombre-label nombre foto foto"
		"correo-label correo foto foto"
		"cel-label cel foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"comentario comentario foto foto"
		"mensaje mensaje mensaje mensaje"
		"mensaje mensaje mensaje mensaje"
		"mensaje mensaje mensaje mensaje"
		"cancelar cancelar enviar enviar";

	}

	#contacto-foto{
		height: 300px;
		justify-self: center;
		display:inline;
	}

	#comentario{
		justify-self: center;
		align-self: end;
	}

	#cancelar{
		width: 40%;
	}

	#enviar{
		width: 60%;
	}

}

@media (min-width: 768px){
	#contacto-contenedor{
		grid-template-columns: repeat(2, 25%) repeat(2, 19%);
		grid-template-rows: repeat(3, 40px) 30px repeat(4, 20px) repeat(4, 40px);
		grid-template-areas: 
		"nombre-label nombre foto foto"
		"correo-label correo foto foto"
		"cel-label cel foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"comentario comentario foto foto"
		"mensaje mensaje foto foto"
		"mensaje mensaje foto foto"
		"cancelar enviar foto foto";
		grid-column-gap: 4%;
	}

	#contacto-foto{
		height: 490px;
	}

	#cancelar{
		width: 50%;
	}

	#enviar{
		width: 50%;
	}
}

/*Media Queries Contacto*/
@media (min-width: 1024px){
	#contacto-contenedor{
		grid-template-rows: repeat(3, 40px) 30px repeat(3, 20px) repeat(4, 40px);
		grid-template-areas: 
		"nombre-label nombre foto foto"
		"correo-label correo foto foto"
		"cel-label cel foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"pedido pedido foto foto"
		"comentario comentario foto foto"
		"mensaje mensaje foto foto"
		"mensaje mensaje foto foto"
		"cancelar enviar foto foto";
		padding: 20px 50px;
	}

	#pedido{
		grid-template-columns: 35% 5% 21% 25%;
		grid-template-rows: 30px repeat(3, 20px);
		grid-template-areas:
		"legend legend legend legend"
		"libro-label libro libro libro"
		"retiro-label retiro retiro retiro"
		"casa-label casa provincia-label provincia";
		column-gap: 3%;
	}

	#provincia-label{
		justify-self: end;
	}

	#contacto-foto{
		height: 470px;
	}
}