.row{
	margin: 0;
}
.diccionario-titulo{
	width: 90%;
	margin: 0 auto;
	font-size: map-get($sizeLetra, dic-desktop);
}

.diccionario-contenedor{
	width: 85%;
	margin: 0 auto;
	padding: 2px 5px;
}

.diccionario-palabra{
	margin: 0;
	padding: 0;
	font-size: map-get($sizeLetra, texto);
	animation-name: palabra-efecto;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
	animation-delay: 0;
}

.list-group{
	margin-bottom: 10px;
}

.list-group-item{
	background-color: $colorYellow;
	border: 0;
	padding: 5px 10px;
}

.list-group-item.active{
	background-color: $colorDarkYellow;
	color: $black;
	border-color: $black;
}

.separador{
	@extend .diccionario-palabra;
	font-size: map-get($sizeLetra, separador);
	text-decoration-line: underline;
}

@keyframes palabra-efecto{
   0% {color: $colorYellow;}
   100%{color: $black;}
}

/*Media Queries Diccionario*/
@media (min-width: 768px){
	.diccionario-titulo{
		width: 40%;
		margin: 0 1.5% 0 3.5%;
		font-size: map-get($sizeLetra, dic-mobile);
		padding: 0;
	}

	.diccionario-contenedor{
		width: 50%;
		margin: 0 3.5% 0 1.5%;
		padding: 0;
	}
}