footer{
	width: 100%;
	background-color: $colorDark;
	padding: 5px 0;
	p{	
		width: 100%;
		text-align: center;
		color: $white;
		font-size: 12px;
		margin-bottom: 5px;
	}
	div{
		width: 100%;
		text-align: center;
	}
}

.logosRedes{
	height: 24px;
	margin: 0 5px;
}