.index-contenedor{
	display: flex;
	flex-direction: column;
	padding: 40px 0;
}

.index-contenedor-2{
	@extend .index-contenedor;
}

.fotos{
	width: $widthIndexSm;
	margin: $marginIndexCell;
}

.parrafos{
	width: $widthIndexSm;
	margin: $marginIndexCell;
	font-size: map-get($sizeLetra, texto);
	line-height: 20px;
	text-align: justify;
}

#inicial{
	&first-letter{
		font-size: map-get($sizeLetra, titulo);;
		font-family: $secondaryFont;
	}
}

/*Media Queries Index*/
@media (min-width: 600px){
	.fotos{
		width: $widthIndex;
	}

	.parrafos{
		width: $widthIndex;
	}
}

@media (min-width: 768px){
	.index-contenedor{
		flex-direction: row;
		align-items: center;
		padding: $paddingIndex;
	}

	.index-contenedor-2{
		flex-direction: row-reverse;
	}

	.fotos{
		width: 30%;
		margin: $marginIndexDesk;
	}

	.parrafos{
		margin: $marginIndexDesk;
	}
}