#mapa-contenedor{
	width: 95vw;
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(1168,1fr);
	grid-template-rows: repeat(1600, 1fr);
	padding: 0 5vw;
	margin-bottom: 20px;
    &:hover{
        cursor: pointer;
    }
}

.mapas{
	width: 100%;
}

#corsi{
    @include mapa(1, 740, 1, 401);
}

#zarlos{
    @include mapa(740, 1168, 1, 471);
}

#tirobasia{
    @include mapa(1, 481, 400, 801);
}

#farsing-1{
    @include mapa(481, 740, 400, 470);
}

#farsing-2{
    @include mapa(481, 1168, 470, 751);
}

#ramasia-1{
    @include mapa(481, 1168, 750, 800);
}

#ramasia-2{
    @include mapa(619, 1168, 800, 960);
}

#ramasia-3{
    @include mapa(730, 1168, 960, 1060);
}

#ramasia-4{
    @include mapa(797, 1168, 1059, 1161);
}

#climania-1{
    @include mapa(1, 460, 800, 1150);
}

#climania-2{
    @include mapa(460, 621, 800, 961);
}

#origamia-1{
    @include mapa(1, 471, 1149, 1600);
}

#origamia-2{
    @include mapa(469, 551, 1257, 1600);
}

#chiluana-1{
	@include mapa(459, 580, 959, 1150);
}

#chiluana-2{
    @include mapa(579, 691, 960, 1211);
}

#chiluana-3{
    @include mapa(689, 731, 960, 1111);
}

#chiluana-4{
    @include mapa(470, 580, 1150, 1260);
}

#girasolandia-1{
    @include mapa(597, 1168, 1160, 1600);
}

#girasolandia-2{
    @include mapa(579, 598, 1210, 1261);
}

#girasolandia-3{
    @include mapa(547, 631, 1257, 1600);
}

#girasolandia-4{
    @include mapa(688, 798, 1059, 1161);
}

.top-xx{
	top: 45vh;
}

.left-xx{
	left: 0;
}

/*Media Queries Mapa*/
@media (min-width: 468px){
	.left-xx{
		left: 10%;
	}
}

@media (min-width: 600px){
	.left-xx{
		left: 15%;
	}
}

@media (min-width: 768px){
	.left-xx{
		left: 25%;
	}
}

@media (min-width: 1024px){
	.left-xx{
		left: 45%;
	}
}