#mapa-contenedor{
	width: 95vw;
	margin: 20px auto;
	display: grid;
	grid-template-columns: repeat(1168,1fr);
	grid-template-rows: repeat(1600, 1fr);
	padding: 0 5vw;
	margin-bottom: 20px;
    &hover{
        cursor: pointer;
    }
}

.mapas{
	width: 100%;
}

#corsi{
    grid-column-start: 1;
    grid-column-end: 740;
    grid-row-start: 1;
    grid-row-end: 401;
}

#zarlos{
    grid-column-start: 740;
    grid-column-end: 1168;
    grid-row-start: 1;
    grid-row-end: 470;
}

#tirobasia{
    grid-column-start: 1;
    grid-column-end: 481;
    grid-row-start: 400;
    grid-row-end: 801;
}

#farsing-1{
    grid-column-start: 481;
    grid-column-end: 740;
    grid-row-start: 400;
    grid-row-end: 470;
}

#farsing-2{
    grid-column-start: 481;
    grid-column-end: 1168;
    grid-row-start: 470;
    grid-row-end: 751;
}

#ramasia-1{
    grid-column-start: 481;
    grid-column-end: 1168;
    grid-row-start: 750;
    grid-row-end: 800;
}

#ramasia-2{
    grid-column-start: 619;
    grid-column-end: 1168;
    grid-row-start: 800;
    grid-row-end: 960;
}

#ramasia-3{
    grid-column-start: 730;
    grid-column-end: 1168;
    grid-row-start: 960;
    grid-row-end: 1060;
}

#ramasia-4{
    grid-column-start: 797;
    grid-column-end: 1168;
    grid-row-start: 1059;
    grid-row-end: 1161;
}

#climania-1{
    grid-column-start: 1;
    grid-column-end: 460;
    grid-row-start: 800;
    grid-row-end: 1150;
}

#climania-2{
    grid-column-start: 460;
    grid-column-end: 621;
    grid-row-start: 800;
    grid-row-end: 961;
}

#origamia-1{
	grid-column-start: 1;
    grid-column-end: 471;
    grid-row-start: 1149;
    grid-row-end: 1600;
}

#origamia-2{
	grid-column-start: 469;
    grid-column-end: 551;
    grid-row-start: 1257;
    grid-row-end: 1600;
}

#chiluana-1{
	grid-column-start: 459;
    grid-column-end: 580;
    grid-row-start: 959;
    grid-row-end: 1150;
}

#chiluana-2{
	grid-column-start: 579;
    grid-column-end: 691;
    grid-row-start: 960;
    grid-row-end: 1211;
}

#chiluana-3{
	grid-column-start: 689;
    grid-column-end: 731;
    grid-row-start: 960;
    grid-row-end: 1111;
}

#chiluana-4{
	grid-column-start: 470;
    grid-column-end: 580;
    grid-row-start: 1150;
    grid-row-end: 1260;
}

#girasolandia-1{
	grid-column-start: 597;
    grid-column-end: 1168;
    grid-row-start: 1160;
    grid-row-end: 1600;
}

#girasolandia-2{
	grid-column-start: 579;
    grid-column-end: 598;
    grid-row-start: 1210;
    grid-row-end: 1261;
}

#girasolandia-3{
	grid-column-start: 547;
    grid-column-end: 631;
    grid-row-start: 1257;
    grid-row-end: 1600;
}

#girasolandia-4{
	grid-column-start: 688;
    grid-column-end: 798;
    grid-row-start: 1059;
    grid-row-end: 1161;
}

.top-xx{
	top: 45vh;
}

.left-xx{
	left: 0;
}

@media (min-width: 468px){
	.left-xx{
		left: 10%;
	}
}

@media (min-width: 600px){
	.left-xx{
		left: 15%;
	}
}

@media (min-width: 768px){
	.left-xx{
		left: 25%;
	}
}

@media (min-width: 1024px){
	.left-xx{
		left: 45%;
	}
}