//Colors
$colorDarkYellow: #F2CD88;
$colorYellow: #F1E1AE;
$colorLightYellow: #F2F0D8;
$colorDark: #585C73;
$colorRed: #D95276;
$black: black;
$white: white;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&family=Roboto&display=swap');
$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Almendra SC', serif;

//Paddings
$paddingIndex: 5px 30px;

//Margins
$marginIndexCell: 10px auto;
$marginIndexDesk: 10px;

//Widths
$widthIndexSm: 90%;
$widthIndex: 80%;